body {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size:12px;
    color:#333;
    padding: 20px;
}

h1 {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size:26px;
    color:#083772;
    letter-spacing:-1px;
    font-weight:normal;
}

h2 {
    font-size: 18px;
    line-height:18px;
    color:#083772;
    margin-bottom:15px;
    font-weight:normal;
}
p {
    margin:8px 0px 8px 0px;
    line-height:18px;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
}

table {
    border:1px solid #bbbbbb;
    border-spacing: 0px;
    margin-top: 8px;
    margin-bottom: 20px;
}

thead {
    background: #eeeeee;
}

td, th {
    border:1px solid #cccccc;
    padding:5px;
}